* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #849d8f;
}
a {
  text-decoration: none;
  color: inherit;
}
body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  width: 1200px;
  min-height: 2000px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}
.content-wrapper {
  width: 1172px;
  min-height: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-wrapper:before {
  background-image: url("../img/slide-2.png");
}
.site-wrapper:after {
  background-image: url("../img/slide-3.png");
}
.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 60px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo-item {
  float: left;
  width: 154px;
}
.logo-item img {
  margin-top: 10px;
}
.main-nav {
  float: left;
  list-style: none;
  position: relative;
  width: 640px;
  min-height: 70px;
  margin-top: 30px;
  margin-left: 50px;
}
.main-nav li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.main-nav li:hover {
  border-bottom: none;
}
.main-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav a:visited {
  color: #ffffff;
  padding: 7px 7px 7px 7px;
  background-color: #d07058;
  border-radius: 17px;
}
.main-nav a:hover {
  color: #333333;
  padding: 7px 7px 7px 7px;
  background-color: #f7f6f3;
  border-radius: 17px;
  font-size: 16px;
}
.main-nav a:active {
  color: #333333;
  padding: 7px 7px 7px 7px;
  background-color: #ededed;
  border-radius: 17px;
  box-shadow: inset 0px 2px 2px rgb(102, 102, 102);
}
.main-nav .sub-main-nav {
  position: absolute;
  /* display: none; */
  min-height: 150px;
  width: 135px;
  display: none;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
  left: -13px;
  top: 34px;
}
.main-nav .sub-main-nav a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.main-nav .sub-main-nav a:hover {
  background-color: #fbded7;
}
.main-nav li:hover .sub-main-nav {
  display: block;
}
.main-nav .sub-main-nav .sub-main-nav-line {
  width: 129px;
}
.icon {
  background: url('../img/spritesheet.png') no-repeat;
}
.user-block {
  position: relative;
  width: 270px;
  min-height: 89px;
  display: inline-block;
  vertical-align: top;
  top: 28px;
}
 .search-btn a {
  float: left;
  width: 32px;
  min-height: 32px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 20px;
}
.search-btn .sprite-look {
  width: 20px;
  height: 25px;
  background-position: -754px 1px;
  display: block;
}
.login {
  float: left;
  width: 92px;
  margin-left: 11px;
  margin-right: 11px;
  min-height: 32px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 15px;
}
.login a {
  font-size: 14px;
}
.login .login-icon {
  width: 22px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  background-position: -562px -5px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-left: 15px;
}
.basket {
  float: left;
  width: 117px;
  min-height: 32px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 15px;
}
.basket a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
.basket .sprite-basket {
  width: 21px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  background-position: -124px -5px;
  margin-top: 5px;
  margin-left: 9px;
  margin-right: 8px;
}
.mode {
  float: right;
  position: relative;
  width: 198px;
  right: 7px;
  top: 8px;
  text-align: right;
  line-height: 1.5;
}
.mode p:first-child {
  font-size: 14px;
}

.banner-wrap {
  width: 530px;
  height: 230px;
  border-radius: 15px;
  background-color: #c7365f;
  padding: 30px;
  box-sizing: border-box;
}
.banner-first {
  background-image: url(../img/raspberry-ground.jpg);
}
.banner-second {
  background-image: url(../img/chocograund.jpg);
}
.banner-title {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 30px;
}
.banner-description {
  font-size: 16px;
  line-height: 22px;
}
.banner-btn {
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 18px;
  float: right;
  margin-top: 13px;
}
.popular-items {
  width: 1172px;
}
.ice-cream {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 267px;
  min-height: 340px;
  margin-bottom: 40px;
}
.ice-cream .ice-cream-icon {
  display: inline-block;
  background-position: -330px;
  width: 63px;
  height: 64px;
  vertical-align: top;
  margin-top: -50px;
  position: relative;
  top: 61px;
  left: 9px;
}
.ice-price {
  position: relative;
  top: -65px;
  margin-bottom: -44px;
}
.ice-cream p {
  width: 90%;
  text-align: center;
}
.ice-price .ice-price__price {
  font-size: 45px;
  display: inline-block;
  vertical-align: top;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25);
}
.ice-price .ice-cream-measure {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  font-size: 30px;
}
.ice-price .rubble {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 45px;
  background-position: -871px 4px;
  margin-left: -5px;
}
.ice-cream-title {
  font-size: 14px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
  display: inline;
  cursor: pointer;
}
.ice-cream-footer {
  display: none;
}
.features {
  display: inline-block;
  width: 1086px;
  min-height: 305px;
  border-radius: 15px;
  background-image: url(../img/features-ground.jpg);
  background-color: #e4d9be;
  box-sizing: border-box;
  padding: 30px;
  color: #323232;
}
.feature-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: lighter;
}
.feature-item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.feature-item p {
  font-size: 15px;
  font-weight: lighter;
}
.blog-news {
  width: 530px;
  height: 220px;
  border-radius: 15px;
  background-image: url(../img/blog-ground.jpg);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-news b {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  display: block;
  margin-bottom: 20px;
}
.blog-link {
  font-size: 25px;
  color: #000;
  border-bottom: 1px solid;
  line-height: 35px;
}
.blog-news p {
  width: 300px;
  margin-left: 1px;
}
.subscribe {
  width: 530px;
  height: 220px;
  border-radius: 15px;
  background-image: url(../img/email-edge.jpg);
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 0 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.subscribe__wrapper {
  background: #fff;
  border-radius: 15px;
  padding: 0 33px;
  padding-top: 25px;
}
.subscribe-description {
  font-size: 14px;
  line-height: 22px;
  color: #585757;
  font-weight: lighter;
  margin-bottom: 35px;
}
.email {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  margin-right: 40px;
}
.map {
  min-width: 100%;
  min-height: 450px;
  background: url(../img/map.png) no-repeat;
  background-size: 100%;
  background-position-y: -211px;
  margin-top: -90px;
  /*margin-bottom: 38px;*/
  position: relative;
}
.map-marker {
  position: absolute;
  width: 160px;
  min-height: 138px;
  background-image: url(../img/pin.png);
  top: 58px;
  left: 440px;
  display: inline-block;
  vertical-align: top;
}
.map-contact-field {
  width: 300px;
  border-radius: 15px;
  background-color: #fefefe;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left:1137px;
  top: 55px;
}
.map-contact-field--small {
  font-size: 14px;
}
.map-contact-field p {
  color: #323232;
}
.footer-social {
  float: left;
  width: 400px;
  min-height: 40px;
}
.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fefefe;
}
.footer-hot-links {
  float: left;
  width: 560px;
  min-height: 37px;
}
.copyright {
  float: right;
  width: 200px;
  min-height: 60px;
  border-radius: 15px;
  background-color: #fefefe;
}
.copyright p {

}
.search-popup {
  width: 340px;
  min-height: 84px;
  background-color: red;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.login-popup {
  width: 277px;
  height: 214px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.feedback {
  width: 476px;
  height: 442px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-lg-1 {
  float: left;
  padding-top: 38px;
  padding-bottom: 38px;
  width: 530px;
  height: 230px;
}
/*h1 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
}
h3 {
  font-size: 41px;
  line-height: 35px;
  color: #ffffff;
  font-weight: bold;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/*.banner-first {
  float: left;
  width: 560px;
  height: 229px;
  background-color: red;
}
.banner-second {
  float: right;
  width: 560px;
  height: 229px;
  background-color: red;
  margin-right: 53px;
  margin-bottom: 40px;
}
.popular-items {
  width: auto;
}
.ice-cream {
  float: left;
  margin-right: 26px;
  width: 267px;
  margin-bottom: 40px;
}
.features {
  display: inline-block;
  width: 1146px;
  min-height: 370px;
  margin-bottom: 40px;
  background-color: #e4d9be;
}
.blog-news {
  float: left;
  width: 560px;
  height: 219px;
  margin-bottom: 40px;
}
.subscribe {
  float: right;
  width: 560px;
  height: 220px;
  margin-bottom: 40px;
  margin-right: 53px;
  background-color: #f8f7f4;
}
.map {
  display: inline-block;
  width: 1200px;
  min-height: 428px;
  margin-bottom: 40px;
}
.map-marker {
  position: absolute;
  margin-top: -285px;
  margin-left: 180px;
  width: 160px;
  min-height: 138px;
  background-color: red;
}
.map-contact-field {
  position: absolute;
  margin-left: 816px;
  margin-top: -374px;
  margin-right: 27px;
  margin-bottom: 60px;
  width: 302px;
  min-height: 304px;
  background-color: red;
}
.footer-social {
  float: left;
  width: 400px;
  min-height: 40px;
}
.footer-hot-links {
  float: left;
  width: 560px;
  min-height: 37px;
}
.copyright {
  float: right;
  width: 200px;
  min-height: 60px;
  background-color: red;
}
.copyright p {

}
.search-popup {
  width: 340px;
  min-height: 84px;
  background-color: red;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.login-popup {
  width: 277px;
  height: 214px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.feedback {
  width: 476px;
  height: 442px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;

}*/
